# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Virtual environment
backend/venv/
venv/

# Banco de dados local
*.db
*.sqlite3

# Node
node_modules/
frontend/node_modules/

# Build
frontend/dist/
frontend/build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/